<section id="contact" class="contact">
    <div class="container-contact">
        <h1 class="title"><a class="underline--magical">Rejoignez-nous</a></h1>
        <div class="contact-bloc">
            <div id="soutenir">
                <h3>Soutenez-les</h3>
                <p class="padding-soutenir">Tu aimes écouter de nouveaux artistes? Rejoins l'expérience Meloven et découvre nos musiciens préférés !</p>
                <div class="div-btn">
                    <span class="button--bubble__container">
                      <a href="#" class="button button--bubble btn-souvenir">
                        Je veux soutenir
                      </a>
                      <span class="button--bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="button effect-button"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                      </span>
                    </span>
                </div>
                {#<a class="btn-souvenir" href="#">Je veux soutenir</a>#}
            </div>
            <div id="realisez">
                <h3>Réalisez-vous</h3>
                <p>Tu es passionné par la musique? Tu veux en faire ton métier ? Meloven t’aide à réaliser ce rêve en t’apportant plus de visibilité afin de booster ta notoriété.</p>
                <div class="div-btn">
                    <span class="button--bubble__container">
                      <a href="#" class="button button--bubble btn-realisez">
                        Je suis artiste
                      </a>
                      <span class="button--bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="button effect-button"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                      </span>
                    </span>
                </div>
                {#<a class="btn-realisez" href="mailto:contact@meloven.fr">Je suis artiste</a>#}
            </div>
        </div>

        <div class="contact-blog-soutenir" style="display: none;">
            <p>Découvre l'actualité de nos artistes préférés et nos nouveaux talents avant tout le monde</p>
            <form id="signup">
                <input type="email" id="request" name="request" placeholder="Adresse email...">
                <input type="hidden" id="list" name="list" value="76c0a7833d">
                <div class="div-btn">
                <span class="button--bubble__container">
                  <input type="submit" value="Inscription" class="button button--bubble">
                  <span class="button--bubble__effect-container">
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="button effect-button"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                  </span>
                </span>
                </div>
                {#<input type="submit" value="Inscription">#}
            </form>
            <a href="#" class="revenir-en-arriere">Revenir en arrière</a>
            <div id="successMessage"><p></p></div>
        </div>


        <div class="contact-blog-devenir" style="display: none;">
            <p>Présente toi et explique nous ton projet en quelques mot, nous reviendrons vers toi le plus vite possible !</p>
            <form id="signup">
                <input type="email" id="request" name="request" placeholder="Adresse email...">
                {#<textarea name="body" id="body" cols="20" rows="10"></textarea>#}
                <input type="hidden" id="list" name="list" value="76c0a7833d">
                <div class="div-btn">
                <span class="button--bubble__container">
                  <input type="submit" value="Inscription" class="button button--bubble">
                  <span class="button--bubble__effect-container">
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="button effect-button"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                  </span>
                </span>
                </div>
                {#<input type="submit" value="Inscription">#}
            </form>
            <a href="#" class="revenir-en-arriere">Revenir en arrière</a>
            <div id="successMessage"><p></p></div>
        </div>


    </div>
</section>
<footer>
    <div class="footer-wrapper">
        <ul>
            <li>
                <h2>La musique partout autour de vous.</h2>
            </li>
            <li>
                <h3><a class="underline--magical">Meloven</a></h3>
                <ul>
                    <li><a href="{{ path('qui_sommes_nous') }}">Qui est Meloven</a></li>
                    <li><a href="{{ path('home') }}#artistes">Nos artistes</a></li>
                    <li><a href="{{ path('blog') }}" target="_blank">Blog</a></li>
                </ul>
            </li>
            <li>
                <h3><a class="underline--magical">Contact</a></h3>
                <ul>
                    <li>Contact@meloven.fr</li>
                </ul>
            </li>
            <li>
                <h3><a class="underline--magical">A propos</a></h3>
                <ul>
                    <li><a href="{{ path('mentions-legales') }}">Mentions légales</a></li>
                    <li><a href="http://bit.ly/Kit-meloven" target="_blank">Kit Presse</a></li>
                </ul>
            </li>
            <li>
                <h3><a class="underline--magical">Rejoignez-nous</a></h3>
                <ul class="rs-footer">
                    <li><a class="facebook-rose-round" href="https://www.facebook.com/Meloven.fr" target="_blank"></a></li>
                    <li><a class="youtube-rose-round" href="https://www.instagram.com/melovenfr/" target="_blank"></a></li>
                    <li><a class="twitter-rose-round" href="https://twitter.com/melovenfr" target="_blank"></a></li>
                </ul>
            </li>
        </ul>

    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ asset('asset/js/jquery.nicescroll.js') }}"></script>
{#<script>
    if( $(window).width() > 600)
    {
        $("body").niceScroll({
            cursorcolor:"aquamarine",
            cursorwidth:"16px"
        });
    }
</script>#}
<script>
    $(document).ready(function() {
        $('.btn-souvenir').click(function(e) {
            e.preventDefault();
            $('.contact-bloc').fadeOut();
            $(".contact-blog-soutenir").delay( 300 ).fadeIn();
        });

        $('.btn-realisez').click(function(e) {
            e.preventDefault();
            $('.contact-bloc').fadeOut();
            $(".contact-blog-devenir").delay( 300 ).fadeIn();
        });

        $('.revenir-en-arriere').click(function(e) {
            e.preventDefault();
            $(".contact-blog-soutenir").fadeOut();
            $(".contact-blog-devenir").fadeOut();
            $('.contact-bloc').delay( 300 ).fadeIn();
        });


        $('#signup').submit(function() {
            var data = {
                request : $('#request').val(),
                list : $('#list').val(),
            };
            console.log(data);
            $.ajax({
                url: "{{ path('mailchimp') }}", // proper url to your "store-address.php" file
                type: 'POST', // <- IMPORTANT
                data: data,
                success: function(msg) {
                    $("#successMessage p").html('Merci pour votre inscription !');
                    $("#successMessage").show();
                    setTimeout(function() {
                        $("#successMessage").hide()
                    }, 5000);
                    $("#request").val('');
                    var message = $.parseJSON(msg),
                        result = '';
                    if (message.status === 'pending') { // success
                        result = 'Success!  Please click the confirmation link that will be emailed to you shortly.';
                    } else { // error
                        result = 'Error: ' + message.detail;
                    }
                    $('#message').html(result); // display the message
                }
            });
            return false;
        });
    });
</script>
<script>
    $(document).ready(function() {
        function hideBlocks () {
            $(".block-changable-evenement").hide();
            $(".block-changable-photos").hide();
            $(".block-changable-video").hide();
            $(".block-changable-bio").hide();
            $("#evenement").removeClass('active');
            $("#photos").removeClass('active');
            $("#video").removeClass('active');
            $("#bio").removeClass('active');
        }
        $("#evenement").click(function(e) {
            e.preventDefault();
            hideBlocks();
            $("#evenement").addClass('active');
            $(".block-changable-evenement").fadeIn().css('display', 'flex');
        });
        $("#photos").click(function(e) {
            e.preventDefault();
            hideBlocks();
            $("#photos").addClass('active');
            $(".block-changable-photos").fadeIn();
        });
        $("#video").click(function(e) {
            e.preventDefault();
            hideBlocks();
            $("#video").addClass('active');
            $(".block-changable-video").fadeIn();
        });
        $("#bio").click(function(e) {
            e.preventDefault();
            hideBlocks();
            $("#bio").addClass('active');
            $(".block-changable-bio").fadeIn();
        });
    });
</script>
<script>
    $(document).ready(function() {
        $(".scroll-btn a").click(function(e) {
            e.preventDefault();
            document.querySelector('#explain').scrollIntoView({
                behavior: 'smooth'
            });
        });
        $(".btn-contact-nav").click(function(e) {
            e.preventDefault();
            document.querySelector('#contact').scrollIntoView({
                behavior: 'smooth'
            });
        });
        console.log(window.location.pathname);
        if( window.location.pathname == '/'){
            $(".btn-nos-artistes-nav").click(function(e) {
                e.preventDefault();
                document.querySelector('#artistes').scrollIntoView({
                    behavior: 'smooth'
                });
            });
        }

    });
</script>
{#
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {lat: -25.344, lng: 131.036};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_MAP_API&callback=initMap">
</script>#}
<script>
    // Open the Modal
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    /*// Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }*/

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>
<script>
    /*$('.qui-sommes-nous-header-content h1').hover(function(){
        $('.qui-sommes-nous-header-content audio').play();
    });*/

    function PlaySound(soundobj) {
        var thissound=document.getElementById(soundobj);
        thissound.play();
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
<script>
    $('.button--bubble').each(function() {
        var $circlesTopLeft = $(this).parent().find('.circle.top-left');
        var $circlesBottomRight = $(this).parent().find('.circle.bottom-right');

        var tl = new TimelineLite();
        var tl2 = new TimelineLite();

        var btTl = new TimelineLite({ paused: true });

        tl.to($circlesTopLeft, 1.2, { x: -25, y: -25, scaleY: 2, ease: SlowMo.ease.config(0.1, 0.7, false) });
        tl.to($circlesTopLeft.eq(0), 0.1, { scale: 0.2, x: '+=6', y: '-=2' });
        tl.to($circlesTopLeft.eq(1), 0.1, { scaleX: 1, scaleY: 0.8, x: '-=10', y: '-=7' }, '-=0.1');
        tl.to($circlesTopLeft.eq(2), 0.1, { scale: 0.2, x: '-=15', y: '+=6' }, '-=0.1');
        tl.to($circlesTopLeft.eq(0), 1, { scale: 0, x: '-=5', y: '-=15', opacity: 0 });
        tl.to($circlesTopLeft.eq(1), 1, { scaleX: 0.4, scaleY: 0.4, x: '-=10', y: '-=10', opacity: 0 }, '-=1');
        tl.to($circlesTopLeft.eq(2), 1, { scale: 0, x: '-=15', y: '+=5', opacity: 0 }, '-=1');

        var tlBt1 = new TimelineLite();
        var tlBt2 = new TimelineLite();

        tlBt1.set($circlesTopLeft, { x: 0, y: 0, rotation: -45 });
        tlBt1.add(tl);

        tl2.set($circlesBottomRight, { x: 0, y: 0 });
        tl2.to($circlesBottomRight, 1.1, { x: 30, y: 30, ease: SlowMo.ease.config(0.1, 0.7, false) });
        tl2.to($circlesBottomRight.eq(0), 0.1, { scale: 0.2, x: '-=6', y: '+=3' });
        tl2.to($circlesBottomRight.eq(1), 0.1, { scale: 0.8, x: '+=7', y: '+=3' }, '-=0.1');
        tl2.to($circlesBottomRight.eq(2), 0.1, { scale: 0.2, x: '+=15', y: '-=6' }, '-=0.2');
        tl2.to($circlesBottomRight.eq(0), 1, { scale: 0, x: '+=5', y: '+=15', opacity: 0 });
        tl2.to($circlesBottomRight.eq(1), 1, { scale: 0.4, x: '+=7', y: '+=7', opacity: 0 }, '-=1');
        tl2.to($circlesBottomRight.eq(2), 1, { scale: 0, x: '+=15', y: '-=5', opacity: 0 }, '-=1');

        tlBt2.set($circlesBottomRight, { x: 0, y: 0, rotation: 45 });
        tlBt2.add(tl2);

        btTl.add(tlBt1);
        btTl.to($(this).parent().find('.button.effect-button'), 0.8, { scaleY: 1.1 }, 0.1);
        btTl.add(tlBt2, 0.2);
        btTl.to($(this).parent().find('.button.effect-button'), 1.8, { scale: 1, ease: Elastic.easeOut.config(1.2, 0.4) }, 1.2);

        btTl.timeScale(2.6);

        $(this).on('mouseover', function() {
            btTl.restart();
        });
    });
</script>
