<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('asset/css/reset.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/main-site.css') }}" />
</head>
<body>
    <header>
        <div class="header-container">
            <nav>
                <figure>
                    <img src="{{ asset('asset/img/svg/logo-desktop.svg') }}" alt="Meloven">
                </figure>
                <ul>
                    <a href="#"><li>Qui est Moloven</li></a>
                    <a href="#"><li>Nos artistes</li></a>
                    <a href="#"><li>Blog</li></a>
                    <a href="#"><li>Contact</li></a>
                    <a href="#" class="btn-discover"><li>Découvrir des artistes</li></a>
                </ul>
            </nav>
            <div class="main-title">
                <h1>Meloven</h1>
                <h2>Pour les artistes de rue</h2>
            </div>
        </div>
    </header>

        <section class="explain">
            <div class="container">
                <figure>
                    <img src="http://via.placeholder.com/365x535" alt="">
                </figure>
                <div>
                    <h1>Faire émerger les artistes de rue</h1>
                    <h2>Découvrez et soutenez des talents</h2>
                    <p>Les rues de nos villes regorgent de talents. Groupe de rock, jeune rappeur ou bien même chanteuse Pop, ces musiciens ont l’incroyable pouvoir d’arrêter le temps pour nous faire frissonner au cours d’un instant. Meloven fait tous simplement la publicité de ces perles rares !</p>
                </div>
            </div>
        </section>

        <section class="artistes">
            <div class="artistes-header">
                <h1 class="title"><a class="underline--magical">Nos artistes de rue</a></h1>
                <span>de talents</span>
            </div>
            <div class="container-artistes">
                <article class="artistes-content">
                    <div class="article-content-text">
                        <h1>victoire bosse</h1>
                        <span>Paris / Rock’n Roll</span>
                        <h2><a class="underline--magical--two">Live show</a></h2>
                        <time>17/07/2018 à 19h</time>
                        <address>24 Rue de l’amiral Roussin<br>
                            75015 PARIS</address>
                        <a href="#">Découvrir</a>
                    </div>
                    <figure>
                        <img src="{{ asset('asset/img/artiste-img-sample.png') }}" alt="">
                    </figure>
                </article>
                <article class="artistes-content">
                    <div class="article-content-text">
                        <h1>victoire bosse</h1>
                        <span>Paris / Rock’n Roll</span>
                        <h2><a class="underline--magical--two">Live show</a></h2>
                        <time>17/07/2018 à 19h</time>
                        <address>24 Rue de l’amiral Roussin<br>
                            75015 PARIS</address>
                        <a href="#">Découvrir</a>
                    </div>
                    <figure>
                        <img src="{{ asset('asset/img/artiste-img-sample.png') }}" alt="">
                    </figure>
                </article>
            </div>
            <div class="artistes-footer"></div>
        </section>

        <section class="objectif">
            <h1 class="title"><a class="underline--magical">Objectif de Meloven</a></h1>
            <p>Les artistes qui chantent dans la rue veulent vivre de leur passion ! Pour cela, <strong>Meloven</strong> promeut des artistes ayant pour but de promouvoir un projet comme la création d’un album mais <strong>Meloven</strong> tente aussi de dénicher des opportunités de contrat pour les artistes.</p>
            <div class="btn-objectif">
                <a href="#">En savoir plus</a>
            </div>
        </section>

        <section class="blog">
            <div class="container-blog">
                <h1 class="title"><a class="underline--magical">Notre blog</a></h1>
                <div class="article-blog-bloc">
                    <article>
                        <figure>
                            <img src="http://via.placeholder.com/308x194" alt="">
                            <span>
                                <img src="{{ asset('asset/img/justine-new.png') }}" alt="">
                            </span>
                        </figure>
                        <span>Justine de Meloven</span>
                        <h1>Lorem Ipsum</h1>
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page […]</p>
                        <a href="#">Découvrir</a>
                    </article>
                    <article>
                        <figure>
                            <img src="http://via.placeholder.com/308x194" alt="">
                            <span>
                                <img src="{{ asset('asset/img/justine-new.png') }}" alt="">
                            </span>
                        </figure>
                        <span>Justine de Meloven</span>
                        <h1>Lorem Ipsum</h1>
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page […]</p>
                        <a href="#">Découvrir</a>
                    </article>
                    <article>
                        <figure>
                            <img src="http://via.placeholder.com/308x194" alt="">
                            <span>
                                <img src="{{ asset('asset/img/justine-new.png') }}" alt="">
                            </span>
                        </figure>
                        <span>Justine de Meloven</span>
                        <h1>Lorem Ipsum</h1>
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page […]</p>
                        <a href="#">Découvrir</a>
                    </article>
                </div>
            </div>
            <div class="btn-parcourir-blog">
                <a href="#">Parcourir le blog</a>
            </div>
        </section>

        <section class="contact">
            <h1>Contactez-nous</h1>
            <div>
                <div>
                    <h3>Pour soutenir</h3>
                    <p>Vous souhaitez découvrir des artistes et suivre l’actualité des spectacles de rue proche de chez vous ?</p>
                    <a href="#">Je veux soutenir</a>
                </div>
                <div>
                    <h3>Pour devenir</h3>
                    <p>Vous chantez dans la rue et souhaitez plus de visibilité et de notoriété ? Vous avez des objectifs concrets ? Meloven, c’est votre promotion gratuite !</p>
                    <a href="#">Je suis artiste</a>
                </div>
            </div>
        </section>
</body>
</html>