{% extends 'base-site.html.twig' %}

{% block head %}{% endblock %}

{% block content %}
    <header class="header-home">
        <div class="header-container">
            {% include('site/nav.html.twig') %}
            <div class="main-title">
                <h1>Meloven</h1>
                <h2>Pour les artistes de rue</h2>
            </div>
        </div>
        <span class="scroll-btn">
            <a href="#explain">
                <span class="mouse">
                    <span>
                    </span>
                </span>
            </a>
        </span>
        <span class="linedown"></span>

    </header>

        <section id="explain" class="explain">
            <div class="container">
                {#<figure>
                    <img src="{{ asset('asset/img/cascade.png') }}" alt="">
                </figure>#}
                <video autoplay loop>
                    <source src="{{ asset('asset/video/cascadeV2.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div>
                    <h1>Vous rêvez d’un monde tout en musique ?</h1>
                    <h2>Venez découvrir de</br> nouveaux talents !</h2>
                    <p>Explorateurs dans l’âme, chaque jour, nous avons pour mission de dénicher de nouveaux talents. Un seul objectif, créer un monde tout en musique et haut en couleur !</p>
                </div>
            </div>
        </section>

        <section class="artistes">
            <div class="artistes-header">
                <h1 id="artistes" class="title"><a class="underline--magical">Nos artistes de rue</a></h1>
                <span>ont du talent</span>
            </div>



            <div class="container-artistes">

                {% for musician in musicians %}
                <article class="artistes-content">
                    <div class="article-content-text">
                        <h1>{{ musician.username }}</h1>
                        {#<span>Paris / Rock’n Roll</span>
                        <h2><a class="underline--magical--two">Live show</a></h2>
                        <time>17/07/2018 à 19h</time>
                        <address>24 Rue de l’amiral Roussin<br>
                            75015 PARIS</address>#}

                        <p>{{ musician.userDescription|easyadmin_truncate(300)|raw }}</p>
                        <div class="div-btn">
                            <span class="button--bubble__container">
                              <a href="{{ path('artiste', {'slug':musician.slug}) }}" class="button button--bubble">
                                Découvrir
                              </a>
                              <span class="button--bubble__effect-container">
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>
                                <span class="circle top-left"></span>
                                <span class="button effect-button"></span>
                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                                <span class="circle bottom-right"></span>
                              </span>
                            </span>
                        </div>
                        {#<a href="{{ path('artiste', {'slug':musician.slug}) }}">Découvrir</a>#}
                    </div>
                    <figure>
                        <a href="{{ path('artiste', {'slug':musician.slug}) }}"><img src="{{ asset('media/') }}{{ musician.avatar }}" alt=""></a>
                    </figure>
                </article>
                {% endfor %}


                {#<article class="artistes-content">
                    <div class="article-content-text">
                        <h1>victoire bosse</h1>
                        <span>Paris / Rock’n Roll</span>
                        <h2><a class="underline--magical--two">Live show</a></h2>
                        <time>17/07/2018 à 19h</time>
                        <address>24 Rue de l’amiral Roussin<br>
                            75015 PARIS</address>
                        <a href="#">Découvrir</a>
                    </div>
                    <figure>
                        <img src="{{ asset('asset/img/artiste-img-sample.png') }}" alt="">
                    </figure>
                </article>#}
            </div>
            <div class="artistes-footer"></div>
        </section>

        <section class="objectif">
            <h1 class="title"><a class="underline--magical">Pourquoi rejoindre l’aventure ?</a></h1>
            <p>Meloven rêve de partager avec toi son amour pour la musique et te donner envie de découvrir de nouveaux talents. Nous souhaitons également t'offrir la possibilité d’aider les artistes à vivre de leur passion et à réaliser leur rêves en mettant en place un système de dons grâce au paiement sans contact. Notre mission ultime: se retrouver tous ensemble lors d'un grand concert que nous organiserons et vivre un moment de partage magique.</p>
            {#<div class="btn-objectif">
                <a href="#">En savoir plus</a>
            </div>#}
        </section>

        <section class="blog">
            <div class="container-blog">
                <h1 class="title"><a class="underline--magical">Notre blog</a></h1>
                <div class="article-blog-bloc">
                    {% for post in blog_posts %}
                        <article>
                            <figure>
                                <img src="{{ asset('media/') }}{{ post.cover }}" alt="">
                                <span>
                                    <img src="{{ asset('media/') }}{{ post.user.avatar }}" alt="">
                                </span>
                            </figure>
                            <span>{{ post.user.firstName }} de Meloven</span>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.description }}</p>
                            <div class="div-btn">
                                <span class="button--bubble__container">
                                  <a href="{{ path('site_post_show', {'slug': post.slug}) }}" class="button button--bubble">
                                    Découvrir
                                  </a>
                                  <span class="button--bubble__effect-container">
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="circle top-left"></span>
                                    <span class="button effect-button"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                    <span class="circle bottom-right"></span>
                                  </span>
                                </span>
                            </div>
                            {# <a  href="{{ path('site_post_show', {'slug': post.slug}) }}">Découvrir</a> #}
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="btn-parcourir-blog">
                {#<a href="{{ path('blog') }}">Parcourir le blog</a>#}
                <div class="div-btn">
                    <span class="button--bubble__container">
                      <a href="{{ path('blog') }}" class="button button--bubble">
                        Parcourir le blog
                      </a>
                      <span class="button--bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="button effect-button"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                      </span>
                    </span>
                </div>
            </div>


        </section>
{% endblock %}