{% extends 'base-site.html.twig' %}

{% block head %}{% endblock %}

{% block content %}
    <header class="header-home">
        <div class="header-container">
            {% include('site/nav.html.twig') %}
            <div class="main-title">
                <h1>Meloven</h1>
                <h2>Pour les artistes de rue</h2>
            </div>
        </div>
        <span class="scroll-btn">
            <a href="#explain">
                <span class="mouse">
                    <span>
                    </span>
                </span>
            </a>
        </span>
        <span class="linedown"></span>

    </header>

        <section id="explain" class="explain">
            <div class="container">
                {#<figure>
                    <img src="{{ asset('asset/img/cascade.gif') }}" alt="">
                </figure>#}
                {#<video autoplay>
                    <source src="{{ asset('asset/video/cascade.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>#}
                <div>
                    <h1>Faire émerger les artistes de rue</h1>
                    <h2>Découvrez et soutenez des talents</h2>
                    <p>Les rues de nos villes regorgent de talents. Groupe de rock, jeune rappeur ou bien même chanteuse Pop, ces musiciens ont l’incroyable pouvoir d’arrêter le temps pour nous faire frissonner au cours d’un instant. Meloven fait tous simplement la publicité de ces perles rares !</p>
                </div>
            </div>
        </section>

        <section id="artistes" class="artistes">
            <div class="artistes-header">
                <h1 class="title"><a class="underline--magical">Nos artistes de rue</a></h1>
                <span>de talents</span>
            </div>



            <div class="container-artistes">

                {% for musician in musicians %}
                <article class="artistes-content">
                    <div class="article-content-text">
                        <h1>{{ musician.username }}</h1>
                        {#<span>Paris / Rock’n Roll</span>
                        <h2><a class="underline--magical--two">Live show</a></h2>
                        <time>17/07/2018 à 19h</time>
                        <address>24 Rue de l’amiral Roussin<br>
                            75015 PARIS</address>#}

                        <p>{{ musician.userDescription|easyadmin_truncate(300)|raw }}</p>
                        <a href="{{ path('artiste', {'slug':musician.slug}) }}">Découvrir</a>
                    </div>
                    <figure>
                        <img src="{{ asset('media/') }}{{ musician.avatar }}" alt="">
                    </figure>
                </article>
                {% endfor %}


                {#<article class="artistes-content">
                    <div class="article-content-text">
                        <h1>victoire bosse</h1>
                        <span>Paris / Rock’n Roll</span>
                        <h2><a class="underline--magical--two">Live show</a></h2>
                        <time>17/07/2018 à 19h</time>
                        <address>24 Rue de l’amiral Roussin<br>
                            75015 PARIS</address>
                        <a href="#">Découvrir</a>
                    </div>
                    <figure>
                        <img src="{{ asset('asset/img/artiste-img-sample.png') }}" alt="">
                    </figure>
                </article>#}
            </div>
            <div class="artistes-footer"></div>
        </section>

        <section class="objectif">
            <h1 class="title"><a class="underline--magical">Objectif de Meloven</a></h1>
            <p>Les artistes qui chantent dans la rue veulent vivre de leur passion ! Pour cela, <strong>Meloven</strong> promeut des artistes ayant pour but de promouvoir un projet comme la création d’un album mais <strong>Meloven</strong> tente aussi de dénicher des opportunités de contrat pour les artistes.</p>
            {#<div class="btn-objectif">
                <a href="#">En savoir plus</a>
            </div>#}
        </section>

        <section class="blog">
            <div class="container-blog">
                <h1 class="title"><a class="underline--magical">Notre blog</a></h1>
                <div class="article-blog-bloc">
                    {% for post in blog_posts %}
                        <article>
                            <figure>
                                <img src="{{ asset('media/') }}{{ post.cover }}" alt="">
                                <span>
                                    <img src="{{ asset('asset/img/') }}{{ post.user.avatar }}" alt="">
                                </span>
                            </figure>
                            <span>{{ post.user.firstName }} de Meloven</span>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.description }}</p>
                            <a  href="{{ path('site_post_show', {'slug': post.slug}) }}">Découvrir</a>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="btn-parcourir-blog">
                <a href="{{ path('blog') }}">Parcourir le blog</a>
            </div>
        </section>
{% endblock %}