<nav>
    <figure>
        <a href="{{ path('home') }}"><img src="{{ asset('asset/img/svg/logo-desktop.svg') }}" alt="Meloven"></a>
    </figure>
    <ul>
        <a href="{{ path('qui_sommes_nous') }}"><li>Qui est Meloven</li></a>
        <a href="{{ path('home') }}#artistes"><li>Nos artistes</li></a>
        <a href="{{ path('blog') }}" target="_blank"><li>Blog</li></a>
        {#<a href="#"><li>Contact</li></a>#}
        <a href="#contact" class="btn-discover"><li>Vous êtes un(e) artiste ?</li></a>
    </ul>
</nav>