{% extends 'base-site.html.twig' %}

{% block head %}
    <title>Meloven - Notre action</title>
    <meta name="description" content="Du rap au jazz, en passant par le lyrique ou encore le rock, Meloven repère et te présente les meilleurs musiciens de Paris...">
{% endblock %}

{% block content %}
    <header class="qui-sommes-nous-header">
        <div class="qui-sommes-nous-header-container">
            {% include('site/nav.html.twig') %}
            <div class="qui-sommes-nous-header-content">
                <h1>Notre action</h1>
                <p>Du rap au jazz, en passant par le lyrique ou encore le rock, Meloven repère et te présente les meilleurs musiciens de Paris. dans le métro, dans la rue, ou même à dos d'éléphant, nous arpentons les rues de Paris chaque jour afin de vous dénicher la perle rare.</p>
            </div>
        </div>
        <figure class="elephant-figure">
            <img onmouseover="PlaySound('audio')" src="{{ asset('asset/img/elephant.gif') }}" alt="Elephant">
        </figure>
        <audio id="audio" src="{{ asset('audio/les-artiste-vous-etes-ou.mp3') }}"></audio>
    </header>

    <section id="goals">
        <h1><a class="underline--magical">Promotion pour les artistes</a></h1>
        <p>Pour cela, Meloven met en avant des artistes afin de :</p>
        <div class="goals">
            <article>
                <figure>
                    <img src="{{ asset('asset/img/cible.svg') }}" alt="">
                </figure>
                <p>Promouvoir un projet tel que la création d’un album ou d’un single</p>
            </article>
            <article>
                <figure>
                    <img src="{{ asset('asset/img/mao.svg') }}" alt="">
                </figure>
                <p>Leur offrir de plus grandes opportunités et leur permettre d’être plus visible aux yeux des managers</p>
            </article>
            <article>
                <figure>
                    <img src="{{ asset('asset/img/loupe.svg') }}" alt="">
                </figure>
                <p>Les faire signer en Maison de disques</p>
            </article>
        </div>
        <div class="btn-block-promo">
            <div class="div-btn">
                <span class="button--bubble__container">
                  <a href="mailto:contact@meloven.fr" class="button button--bubble">
                    Vous êtes un(e) artiste ?
                  </a>
                  <span class="button--bubble__effect-container">
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="button effect-button"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                  </span>
                </span>
            </div>
            {#<a href="mailto:contact@meloven.fr">J’ai besoin de promo</a>#}
        </div>
    {#</section>

    <section id="promotion">#}
        <h2>les artistes qui chantent dans la rue rêvent de vivre de leur passion !</h2>
        <div class="promotion">
            <article>
                <figure>
                    <img src="{{ asset('asset/img/picto-1.svg') }}" alt="">
                </figure>
                <h1>Des reporters</h1>
                <p>réalisent des podcasts et interviews chaque jour des artistes talentueux des nouveaux artistes.</p>
            </article>
            <article>
                <figure>
                    <img src="{{ asset('asset/img/picto-2.svg') }}" alt="">
                </figure>
                <h1>Des community manager </h1>
                <p>mettent en avant le pouvoir envoutant de leur musique pour le plaisir de tes oreilles.</p>
            </article>
            <article>
                <figure>
                    <img src="{{ asset('asset/img/picto-3.svg') }}" alt="">
                </figure>
                <h1>Des rp</h1>
                <p class="last-art">établissent le contact avec des influenceurs dans la musique</p>
            </article>
        </div>
        {#<div class="btn-block-inscription">
            <a href="mailto:contact@meloven.fr">M’inscrire en tant qu’artiste</a>
        </div>#}
    </section>



    {#<section id="confidance">
        <div class="btn-block-inscription">
            <a href="#">J’ai besoin de promo</a>
        </div>
        <h1>Ils nous font confiance !</h1>
        <div class="confidance">
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p>simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux</p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p>simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux</p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p>simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux</p>
            </article>
        </div>
    </section>#}

    <section id="objectif">
        <div>
            <h1><a class="underline--magical">Pourquoi rejoindre l’aventure ?</a></h1>
            <p>Meloven rêve de partager avec toi son amour pour la musique et de te faire découvrir de nouveaux talents. Nous souhaitons également t'offrir la possibilité d’aider les artistes à vivre de leur passion en réalisant leur rêves en mettant en place un système de dons grâce au paiement sans contact. Notre mission ultime: se retrouver tous ensemble lors d'un grand concert que nous organiserons afin de vivre un moment de partage magique.</p>
        </div>
    </section>
{% endblock %}