{% extends 'base-site.html.twig' %}

{% block head %}
    {% include('heads/head_front.html.twig') %}
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="article-show-title">{{ blog_post.title }}</h1>
        <div class="article-show-image">
            <img src="{{ asset('media/') }}{{ blog_post.cover }}" alt="{{ blog_post.title }}">
        </div>
        <img src="" alt="">

        <div class="article-show-body">{{ blog_post.body | raw}}</div>

        <a href="/" class="back-home">&#x21fd; Revenir sur la homepage</a>
    </div>
{% endblock  %}

{% block javascripts %}
    <script src="{{ asset('asset/js/app.js') }}"></script>
    {% include('includes/scripts.html.twig') %}
{% endblock %}

