{% extends 'base.html.twig' %}

{% block head %}
    {% include('heads/head_back.html.twig') %}
{% endblock %}

{% block nav %}
    {% include('blog_post/nav.html.twig') %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Liste des articles
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date de création</th>
                            <th>Date de publication</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for blog_post in blog_posts %}
                        <tr>
                            <td>{{ blog_post.title }}</td>
                            <td>{{ blog_post.createdAt|date("m/d/Y") }}</td>
                            <td>None</td>
                            <td>
                                <a class="btn btn-block btn-dark" href="{{ path('blog_post_show', {'id': blog_post.id}) }}">Voir</a>
                                <a class="btn btn-block btn-primary" href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">Éditer</a>

                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        {#<span class="badge badge-success">Active</span>
                        <span class="badge badge-danger">Banned</span>
                        <span class="badge badge-secondary">Inactive</span>
                        <span class="badge badge-warning">Pending</span>
                        <span class="badge badge-success">Active</span>#}
                        </tbody>
                    </table>
                    <a class="btn btn-block btn-success" href="{{ path('blog_post_new') }}">Créer un article</a>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('asset/js/main.js') }}"></script>
{% endblock %}