{% extends 'base.html.twig' %}

{% block head %}
    {% include('heads/head_back.html.twig') %}
{% endblock %}

{% block nav %}
    {% include('blog_post/nav.html.twig') %}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <strong>Voir</strong>
            l'article
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ blog_post.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ blog_post.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ blog_post.slug }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ blog_post.description }}</td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td>{{ blog_post.body|raw}}</td>
                </tr>
                <tr>
                    <th>Cover</th>
                    <td>{{ blog_post.cover }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ blog_post.createdAt|date("m/d/Y") }}</td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td>{{ blog_post.updatedAt ? blog_post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">

            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <a class="btn btn-block btn-primary btn-sm" href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">Edit</a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <a class="btn btn-block btn-warning btn-sm" href="{{ path('blog_post_index') }}">Back to list</a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    {{ include('blog_post/_delete_form.html.twig') }}
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0"></div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0"></div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0"></div>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('asset/js/main.js') }}"></script>
{% endblock %}