<!doctype html>
<html lang="fr" xmins:og="http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}

    {% endblock %}
    <title>Meloven - Découvrez et soutenez les artistes de rue !</title>
    <meta name="description" content="Meloven, met en avant les artistes de rues en organisant des concerts à ciel ouvert.">
    <link rel="icon" type="image/png" href="{{ asset('asset/img/favicon.png') }}" />

    {% include('heads/head_front_site.html.twig') %}
    {% include('analytics/analyticsHead.html.twig') %}
</head>
<body>
    {% include('analytics/analyticsBody.html.twig') %}
    {#<div class="overflow-hidden" style="overflow-x: hidden"></div>#}
    <div class="mobile-nav">
        <div class="mobile-nav-logo">
            <a href="{{ path('home') }}"><img src="{{ asset('asset/img/svg/logo-desktop.svg') }}" alt="Meloven"></a>
        </div>
    </div>

    <div class="burger-menu">
        <label>
            <input id="toggle-nav" type='checkbox'>
            <span class='menu'>
               <span class='hamburger'></span>
            </span>
            <ul>
                <li><a href="/"><h1 class="logo-burger"><img src="{{ asset('asset/img/svg/logo-desktop.svg') }}" alt="Meloven"></h1></a></li>
                <li><a href="{{ path('qui_sommes_nous') }}">Qui est Moloven</a></li>
                <li><a href="{{ path('home') }}#artistes">Nos artistes</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                {#<a href="#" class="btn-discover"><li>Vous êtes un(e) artiste ?</li></a>#}
                {#<li>
                    <div class="burger-rs">
                        <h1>Suis-nous sur nos réseaux !</h1>
                        <ul>
                            <li><a href="https://www.facebook.com/Meloven.fr" target="_blank"><img src="{{ asset('asset/img/svg/Facebook.svg') }}" alt="Facebook"></a></li>
                            <li><a href="https://twitter.com/melovenfr" target="_blank"><img src="{{ asset('asset/img/svg/Twitter.svg') }}" alt="Twitter"></a></li>
                            <li><a href="https://www.instagram.com/melovenfr/" target="_blank"><img src="{{ asset('asset/img/svg/Instagram.svg') }}" alt="Instagram"></a></li>
                        </ul>
                    </div>
                </li>#}
            </ul>
        </label>
    </div>


<!-- Contenu -->
{% block content %}{% endblock %}
{% include('site/footer.html.twig') %}
{% block littlejavascript %}{% endblock %}
</body>
</html>